:root{
  --card-bg: #f8f8f8;
  --card-header-bg: #fff;
  --description-font-color: #7b7e8f;
}

body{
  background:#f5f6f8;
  font-family: 'Mulish', sans-serif;
}
header{
  text-align: center;
  padding:100px 0 60px;
}
header h1{
  font:200 48px/64px 'Mulish', sans-serif;
}
h2{
  font-size:18px;
}
h3{
  font-size:15px;
}
h2, h3{
  font-weight:bold;
}
.cards-block {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.cards-block li{
  width:290px;
  min-width:180px;
  height: 510px;
  background: var(--card-bg);
  border-radius:18px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  overflow: hidden;
  margin:10px;
}
.cards-block li p,
.usr-online-status{
  color: var(--description-font-color);
  font-size:11px;
  line-height:18px;
  position:relative;
}
section.usr-card-header,
section.usr-card-info,
section.usr-contacts{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap:wrap;
  position:relative;
  text-align: center;
}
.usr-card-header{
    background: var(--card-header-bg);
}
.usr-card-header span{
  width:110px;
  height:110px;
  border-radius:50%;
  background: url('../img/default.jpg'), var(--card-bg);
  background-position: center;
  background-repeat: no-repeat;
  overflow:hidden;
  background-size: cover;
  position:relative;
  margin:10px;
}
.usr-card-header span img{
  width:100%;
  max-width: 110px;
  object-fit: cover;
}
.usr-card-header:before,
.usr-card-header:after{
  font-family:  'Font Awesome\ 5 Free';
  content:'\f005';
  font-size: 15px;
  text-shadow: 0 0 20px #fff;
  border-radius: 50%;
  background: var(--card-header-bg);
  width: 16px;
  height: 16px;
  padding: 4px;
  position: absolute;
  left: 45%;
  top:127px;
  z-index: 2;
}
.usr-card-header:before{
  color: #e6e4e9;
  }
.usr-card-header:after{
  color:#fcc302;
  opacity:0;
}
.star-active:after{
  color:#fcc302;
  opacity:1;
}
.usr-card-header h2,
.usr-card-info h3{
  padding: 16px 0 8px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.usr-card-header h4{
  font-weight:bold;
  font-size:13px;
  line-height:18px;
  position:relative;
  color: var(--description-font-color);
}
.usr-card-header h4:before{
  font-family:  'Font Awesome\ 5 Free';
  content:'\f153';
  position:absolute;
  top: 1px;
  left: -10px;
  font-size: 12px;
}
.usr-card-info h3{
  padding: 5px 0;
}
.usr-location{
  font-weight:bold;
  position:relative;
}
.usr-info{
  height:40px;
}
.usr-location:before{
  font-family:  'Font Awesome\ 5 Free';
  content:"\f3c5";
  position:absolute;
  top:1px;
  font-size:12px;
  left:-15px;
}
.usr-info{
  width:100%;
  margin: 10px 0 0;
  text-align: center;
  cursor:default;
  max-height: 40px;
  overflow: hidden;
}
.usr-contacts .btn-default,
.usr-contacts .btn-primary{
  width:190px;
  padding:10px 0;
  font:800 12px/18px 'Mulish';
  text-align:center;
  text-transform:uppercase;
  border-radius:12px;
  border:1px solid #039be6;
  margin:5px;
}
.btn-default,
.btn-primary:hover{
  color:#039be6;
  background:#fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-primary,
.btn-default:hover{
  color:#fff;
  background:#039be6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.status-block{
  width:100%;
  margin-top:10px;
}
.usr-online-status{
  margin-top:10px;
  cursor:default;
}
.online:before{
  font-family:  'Font Awesome\ 5 Free';
  content:"\f111";
  position:absolute;
  top:-1px;
  font-size:6px;
  left:-15px;
  color:#89c34b;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.usr-card-header,
.usr-card-info{
    padding: 20px;
}
.usr-contacts{
  padding:0 20px 20px
}
